.about  {
    padding-bottom: 100px;
    display: flex;
}

.about img {
    width: 400px;
    height: 400px;
    padding-left: 40px;

}

.personal {
    background-color: #2f2f2f;
    border-radius: 20px;
    padding: 10px;
}

.hobbies {
    float: left;
    background-color: #4BE280;
    border-radius: 10px;
    padding: 10px;
}

.hobbies h2 {
    color: rgb(35, 35, 35)
}

.hobbies li {
    list-style: none;
    padding-top: 10px;
    color: rgb(35, 35, 35);
}
