.inst_title {
    text-align: center;
    text-decoration: underline;
}

.School {
    background-color: #1b1b1b;
    border-radius: 10px;
    max-width: 500px;
    padding: 20px;
    border: 1px solid white;
}

.coding {
    background-color: #1b1b1b;
    border-radius: 10px;
    max-width: 500px;
    padding: 20px;
    align-self: flex-end;
    text-align: right;
    border: 1px solid white;
}

.skill_title {
    align-self: center;
    text-decoration: underline;
}

.skills {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: fit-content;
    border: 1px solid white;
}

.img_skills {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.skills img {
    height: 100px;
    width: auto;
}

.hate {
    padding-left: 14.55px;
    padding-right: 14.55px;
}

.instruction {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.code.hidden {
    transform: translateX(100%)
}

.code.show {
    transform: translateX(0);
}

.hidden:nth-child(2) {
    transition-delay: 300ms;
}

.skill_img:nth-child(2) {
    transition-delay: 200ms;
}

.skill_img:nth-child(3) {
    transition-delay: 300ms;
}

.skill_img:nth-child(4) {
    transition-delay: 400ms;
}

.skill_img:nth-child(5) {
    transition-delay: 500ms;
}