body {
    background-color: #131313;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav button {
    background-color: #131313;
    border: none;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

}

nav button:hover {
    background-color: #D32295;
}

.nav-item {
    display: flex;
}

nav ul {
    display: flex;
    width: fit-content;
    flex: 2 1 0%;
    gap: 16px;
    justify-content: flex-end;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
}

h3 {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    font-size: 20px;
}

p {
    display: block;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: white;
}

li {
    font-family: "Roboto", sans-serif;
    color: white;
}


.name {
    font-size: 48px;
    font-family: "Roboto Condensed", sans-serif;
    background-image: linear-gradient(98deg, #4BE280 12% -27%, #D32295 100%);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}

footer {
    margin-top: auto;
    display: flex;
    background-color: rgb(255, 108, 0);
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    gap: auto;
    padding-left: 3px;
    padding-right: 3px;
    align-content: center;
}

footer h2 {
    font-size: 12px;
    color: white;
}