body {
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center, center center;
    flex-direction: column;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav button {
    background-color: rgba(255, 80, 0, 0.73);
    border: none;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

nav button:hover {
    background-color: rgb(69, 160, 73);
}

.name {
    font-size: 40px;
}

.nav-item {
    display: flex;
}

footer h2 {
    font-size: 12px;
    color: white;
    font-family: revert;
}

nav ul {
    display: flex;
    width: fit-content;
    flex: 2 1 0%;
    gap: 16px;
    justify-content: flex-end;
}

.about {
    display: flex;
}

.about img {
    width: 400px;
}

.hobbies li {
    list-style: none;
    font-family: sans-serif;
    padding-top: 10px
}

p {
    display: block;
    font-size: 18px;
    font-family: sans-serif;
}

footer {
    margin-top: auto;
    display: flex;
    background-color: rgb(255, 108, 0);
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    gap: 12rem;
    padding-left: 3px;
    padding-right: 3px;
    align-content: center;
}

.skills li {
    list-style-type: none;
    padding-top: 15px;
}
